# Purpose of this Notebook
This notebook serves as the primary data preprocessing pipeline for **Movies Dataset** CSVs for our movie recommendation system. It's purpose is to ingest raw movie data from kaggle in form of multiple CSV files, perform extensive cleaning and feature engineering, and gives output a set of clean structured JSON documents ready for indexing into **Elastic Search**

## The Steps executed in this notebook are:
1. Loading data : From the Movie Dataset on kaggle, we use movies_metadata, credits, and keywords. These data is selected as base for the content based recommendation system.
2. Data Cleaning and Merging
3. Feature Engineering : Extracting key informatiuon like cast members, directors, and a clean list of keywords
4. Semantic Embedding : By using pre-trained SentenceTransformer (BERT-based), combined text field are generated to vector embedding that captures the movie's semantic meaning.
5. Final Output : Structuring the cleaned data and generated embeddings in form of JSON documents, which will be used to populate search result and recommendation engine.

In [1]:
import pandas as pd
import json
from sentence_transformers import SentenceTransformer, util
import ast
import numpy as np

from tqdm.notebook import tqdm
tqdm.pandas()

from elasticsearch import Elasticsearch
from elasticsearch.helpers import bulk
from elasticsearch.helpers import streaming_bulk

# Data Cleaning

In [2]:
movies_df = pd.read_csv('movies_metadata.csv')
keywords_df = pd.read_csv('keywords.csv')
credits_df = pd.read_csv('credits.csv')

movies_df.drop_duplicates(inplace=True)
keywords_df.drop_duplicates(inplace=True)
credits_df.drop_duplicates(inplace=True)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_50912\1341771388.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('movies_metadata.csv')

## Movies Metadata

In [3]:
movies_df.head().T

,0,1,2,3,4
adult,False,False,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"{'id': 96871, 'name': 'Father of the Bride Col..."
budget,30000000,65000000,0,16000000,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 35, 'name': 'Comedy'}]"
homepage,http://toystory.disney.com/toy-story,NaN,NaN,NaN,NaN
id,862,8844,15602,31357,11862
imdb_id,tt0114709,tt0113497,tt0113228,tt0114885,tt0113041
original_language,en,en,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...
popularity,21.946943,17.015539,11.7129,3.859495,8.387519
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10
revenue,373554033.0,262797249.0,0.0,81452156.0,76578911.0
runtime,81.0,104.0,101.0,127.0,106.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II
video,False,False,False,False,False
vote_average,7.7,6.9,6.5,6.1,5.7
vote_count,5415.0,2413.0,92.0,34.0,173.0

In [4]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45453 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45453 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45453 non-null  object
 3   genres                 45453 non-null  object
 4   homepage               7780 non-null   object
 5   id                     45453 non-null  object
 6   imdb_id                45436 non-null  object
 7   original_language      45442 non-null  object
 8   original_title         45453 non-null  object
 9   overview               44499 non-null  object
 10  popularity             45448 non-null  object
 11  poster_path            45067 non-null  object
 12  production_companies   45450 non-null  object
 13  production_countries   45450 non-null  object
 14  release_date           45366 non-null  object
 15  revenue                45447 non-null  float64
 16  runtime                45190 non-null  float64
 17  spoken_languages       45447 non-null  object
 18  status                 45366 non-null  object
 19  tagline                20408 non-null  object
 20  title                  45447 non-null  object
 21  video                  45447 non-null  object
 22  vote_average           45447 non-null  float64
 23  vote_count             45447 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

### 1. The ID should be integer
If we see from the head preview, the ID should be integer, but in the info, the data is shown that the ID is object, so we might want to drop the data that can be integer

In [5]:
movies_df = movies_df[movies_df['id'].str.isnumeric()]
movies_df['id'] = movies_df['id'].astype(int)

In [6]:
movies_df['id'].info()

<class 'pandas.core.series.Series'>
Index: 45450 entries, 0 to 45465
Series name: id
Non-Null Count  Dtype
--------------  -----
45450 non-null  int32
dtypes: int32(1)
memory usage: 532.6 KB

The ID is now clean

### 2. Unnecessary columns

In [7]:
movies_df.isna().sum()

adult                        0
belongs_to_collection    40959
budget                       0
genres                       0
homepage                 37673
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25042
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

Some of the columns are not necessary because we wanna make the recommender system to be content-based. So not all the columns is relevant. We are only going to choose these columns:
- ID : As the identifier to the movies
- Title : As the identifier to the movies title
- Overview : Synopsis is useful as textual description of the movie storyline or the movies themes.
- Genres : This might be a strong identifier for the movies.
- Original Language : Based on language, some people tend to watch if the movies is from certain country or their is a language in their native language

In [8]:
movies = movies_df[['id', 'title', 'overview', 'genres', 'original_language']].copy()
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45450 entries, 0 to 45465
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45450 non-null  int32
 1   title              45447 non-null  object
 2   overview           44496 non-null  object
 3   genres             45450 non-null  object
 4   original_language  45439 non-null  object
dtypes: int32(1), object(4)
memory usage: 1.9+ MB

While there are some missing values, especially in overview and we dont want to waste too much data, so i might just fill the missing values with empty string.

In [9]:
movies.fillna('', inplace=True)
display(movies.isna().sum()), display(movies.head())

id                   0
title                0
overview             0
genres               0
original_language    0
dtype: int64

,id,title,overview,genres,original_language
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",en

(None, None)

## Credits Data

In [10]:
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [11]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45439 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45439 non-null  object
 1   crew    45439 non-null  object
 2   id      45439 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

The id is already an integer and this is a good sign meaning that it will be fine if we merge the dataset on id

## Keywords data

In [12]:
keywords_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [13]:
keywords_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45432 non-null  int64
 1   keywords  45432 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

The keywords is also looking good.

# Merging Data

In [14]:
df = pd.merge(movies, credits_df, on='id', how='left')
df = pd.merge(df, keywords_df, on='id', how='left')
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45440 entries, 0 to 45462
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45440 non-null  int32
 1   title              45440 non-null  object
 2   overview           45440 non-null  object
 3   genres             45440 non-null  object
 4   original_language  45440 non-null  object
 5   cast               45439 non-null  object
 6   crew               45439 non-null  object
 7   keywords           45439 non-null  object
dtypes: int32(1), object(7)
memory usage: 2.9+ MB

In [15]:
df.dropna(inplace=True)

In [16]:
df.head()

,id,title,overview,genres,original_language,cast,crew,keywords
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",en,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

# Parse JSON columns

In [17]:
def parse_json_col(data):
    """Function to safely parse JSON-like strings in dataframe columns."""
    try:
        return ast.literal_eval(data)
    except(ValueError, SyntaxError):
        return [] # Return empty list if parsing fails

In [18]:
for col in ['genres', 'keywords', 'cast', 'crew']:
    df[col] = df[col].progress_apply(parse_json_col)

  0%|          | 0/45439 [00:00<?, ?it/s]

  0%|          | 0/45439 [00:00<?, ?it/s]

  0%|          | 0/45439 [00:00<?, ?it/s]

  0%|          | 0/45439 [00:00<?, ?it/s]

In [19]:
backup_df = df.copy()

In [20]:
df = backup_df.copy()

Next, I will extract the director's name from the crew column and the first three cast members from the cast column. This approach is based on the assumption that viewers often choose to watch movies directed by certain filmmakers or featuring specific actors. The top three cast members are selected because the most prominent or well-known actors are usually listed at the beginning of the cast list.

The other thing to do is to extract the keywords also. For the keywords, all keywords will be extracted

## Transform the JSON data into lists

In [21]:
#Extract the name of the director and the first 3 cast
def get_3_cast(cast):
    return[i['name'] for i in cast[:3] if isinstance(i, dict) and 'name' in i]

def get_director(crew):
    for i in crew:
        if isinstance(i, dict) and i.get('job') == 'Director':
            return i.get('name', '')
    return ''

In [22]:
df['actor'] = df['cast'].progress_apply(get_3_cast)
df['director'] = df['crew'].progress_apply(get_director)
df['keywords_list'] = df['keywords'].progress_apply(lambda x: [i['name'] for i in x if isinstance(i, dict) and 'name' in i])
df['genres_list'] = df['genres'].progress_apply(lambda x: [i['name'] for i in x if isinstance(i, dict) and 'name' in i])

  0%|          | 0/45439 [00:00<?, ?it/s]

  0%|          | 0/45439 [00:00<?, ?it/s]

  0%|          | 0/45439 [00:00<?, ?it/s]

  0%|          | 0/45439 [00:00<?, ?it/s]

In [23]:
df.drop(columns=['cast', 'crew', 'keywords', 'genres'], inplace=True)

In [24]:
df.head()

,id,title,overview,original_language,actor,director,keywords_list,genres_list
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",en,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy, friendship, friends, riva...","[Animation, Comedy, Family]"
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,en,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,en,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger, o...","[Romance, Comedy]"
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",en,"[Whitney Houston, Angela Bassett, Loretta Devine]",Forest Whitaker,"[based on novel, interracial relationship, sin...","[Comedy, Drama, Romance]"
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,en,"[Steve Martin, Diane Keaton, Martin Short]",Charles Shyer,"[baby, midlife crisis, confidence, aging, daug...",[Comedy]

Now the data is clean we can proceed to the next step, create the text for **Embedding**

# Create the Text for Embedding

This step is crucial, as it defines the input text that will be fed into the BERT model. By combining the movie's title, keywords, genres, top three cast members, director, original language, and overview into a single text representation, we aim to capture as much semantic context as possible. This enriched textual input helps BERT better understand the content and characteristics of each movie, which is essential for generating accurate and meaningful embeddings for recommendation.

And Since the **overview** column contains significantly more words than other features, this may make other important features, like genres, keywords, cast, and director_names, seem less significant in the similarity computation. To address this, I **apply weights** to these features, ensuring their importance is recognized and resulting in more balanced and diverse recommendations.

In [25]:
def create_soup(row):
    title = (str(row['title']) + ' ') * 1 if row['title'] else ''
    genres = (' '.join(row['genres_list']) + ' ') * 3 if row['genres_list'] else '' 
    keywords = (' '.join(row['keywords_list']) + ' ') * 3 if row['keywords_list'] else ''
    director = (str(row['director']) + ' ') * 4 if row['director'] else ''
    cast = (' '.join(row['actor']) + ' ') * 3 if row['actor'] else ''
    original_language = (str(row['original_language']) + ' ') * 1 if row['original_language'] else ''
    overview = str(row['overview']) if row['overview'] else ''
    return f"{title} {genres} {keywords} {director} {cast} {original_language} {overview}"

df['embed_text'] = df.progress_apply(create_soup, axis=1)

  0%|          | 0/45439 [00:00<?, ?it/s]

In [26]:
display(df[['title', 'embed_text']].head())

,title,embed_text
0,Toy Story,Toy Story Animation Comedy Family Animation C...
1,Jumanji,Jumanji Adventure Fantasy Family Adventure Fa...
2,Grumpier Old Men,Grumpier Old Men Romance Comedy Romance Comed...
3,Waiting to Exhale,Waiting to Exhale Comedy Drama Romance Comedy...
4,Father of the Bride Part II,Father of the Bride Part II Comedy Comedy Com...

# Generate the Embeddings

In [29]:
model = SentenceTransformer('mixedbread-ai/mxbai-embed-large-v1')

We convert the embeddings to lists for easier storage in dataframes and to avoid issues with serialization

In [30]:
batch_size = 64
embed_texts = df['embed_text'].tolist()
embeddings = []
for i in tqdm(range(0, len(embed_texts), batch_size)):
    batch = embed_texts[i:i+batch_size]
    batch_embeds = model.encode(batch)
    embeddings.extend(batch_embeds)

  0%|          | 0/710 [00:00<?, ?it/s]

In [31]:
df['movie_embedding'] = embeddings

In [32]:
df['movie_embedding'] = df['movie_embedding'].apply(
    lambda x: x.tolist() if isinstance(x, np.ndarray) 
    else x)

In [33]:
final_df = df[['id', 'title', 'overview', 'genres_list', 'actor', 
            'director', 'keywords_list', 'movie_embedding', 'original_language']].copy()
final_df.head()

,id,title,overview,genres_list,actor,director,keywords_list,movie_embedding,original_language
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy, friendship, friends, riva...","[0.47636154294013977, -0.32746538519859314, 0....",en
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[0.7078766822814941, -0.29459282755851746, -0....",en
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger, o...","[0.99278324842453, -0.03799596056342125, 0.207...",en
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devine]",Forest Whitaker,"[based on novel, interracial relationship, sin...","[0.3308599889278412, -0.24533289670944214, -0....",en
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy],"[Steve Martin, Diane Keaton, Martin Short]",Charles Shyer,"[baby, midlife crisis, confidence, aging, daug...","[0.40464338660240173, -0.33400699496269226, 0....",en

In [34]:
# We convert all of the columns to dictionaries so it will be easier to store it in ElasticSearch
movie_documents = final_df.to_dict(orient='records')

In [35]:
print("Example document for Elasticsearch:")
print(json.dumps(movie_documents[0], indent=2))

Example document for Elasticsearch:
{
  "id": 862,
  "title": "Toy Story",
  "overview": "Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",
  "genres_list": [
    "Animation",
    "Comedy",
    "Family"
  ],
  "actor": [
    "Tom Hanks",
    "Tim Allen",
    "Don Rickles"
  ],
  "director": "John Lasseter",
  "keywords_list": [
    "jealousy",
    "toy",
    "boy",
    "friendship",
    "friends",
    "rivalry",
    "boy next door",
    "new toy",
    "toy comes to life"
  ],
  "movie_embedding": [
    0.47636154294013977,
    -0.32746538519859314,
    0.9085360765457153,
    -0.42976704239845276,
    0.29712316393852234,
    -0.8626672029495239,
    -0.7377627491950989,
    -0.08446989953517914,
    0.4505971670150757,
    -0.19922266900539398,
    -0.09385403245687485,
    0.1735532432794571,
    -0.4021459221839905,
    -0.46867814660072327,
    -0.3487672507762909,
    -0.3865581154823303,
    -0.21785862743854523,
    -0.4498178958892822,
    -0.3814148008823395,
    -0.6071301102638245,
    0.2004721611738205,
    0.5490052700042725,
    0.2847318947315216,
    0.3621533215045929,
    0.5455212593078613,
    0.5359369516372681,
    -0.2904624938964844,
    0.4313686192035675,
    1.0800362825393677,
    0.1649416834115982,
    0.23104900121688843,
    -0.48611152172088623,
    0.28799760341644287,
    -0.2442139983177185,
    -0.15765295922756195,
    -0.6897537112236023,
    0.6891099214553833,
    -0.6268343329429626,
    0.05428585037589073,
    -0.7743204832077026,
    -0.4779859483242035,
    -0.578041136264801,
    0.99161297082901,
    -0.908210813999176,
    -0.49403733015060425,
    -0.15971720218658447,
    0.7725648880004883,
    -0.06783487647771835,
    -0.09524660557508469,
    -1.1176238059997559,
    -0.5751317143440247,
    -0.5262349843978882,
    0.33911290764808655,
    0.025435833260416985,
    0.9076799750328064,
    -1.4551398754119873,
    0.383411705493927,
    -0.37491902709007263,
    -0.056736402213573456,
    0.8088552951812744,
    1.1255543231964111,
    0.19895359873771667,
    0.12417811155319214,
    -1.2642872333526611,
    0.22628571093082428,
    0.21299558877944946,
    0.36892420053482056,
    -0.5252992510795593,
    0.074298195540905,
    0.9872056841850281,
    0.5815436244010925,
    0.21602007746696472,
    0.39445433020591736,
    -0.05825585499405861,
    0.5570436716079712,
    -0.1822218894958496,
    -0.11432366073131561,
    0.43053150177001953,
    0.050627123564481735,
    0.45407482981681824,
    0.42917609214782715,
    0.08510033786296844,
    0.2864472270011902,
    0.03477352485060692,
    -0.2766433656215668,
    -0.7862370610237122,
    1.365435004234314,
    0.8829214572906494,
    -0.4620170593261719,
    -0.37120717763900757,
    -0.23791834712028503,
    0.7851482629776001,
    -0.31352099776268005,
    0.01825495809316635,
    0.4776690900325775,
    0.019752323627471924,
    -0.3773287534713745,
    -0.16313691437244415,
    -0.6872981786727905,
    -0.5066812038421631,
    0.21010451018810272,
    0.3129406273365021,
    -0.6416147947311401,
    0.08050134032964706,
    -0.6522188782691956,
    -0.3050314784049988,
    0.4764689803123474,
    0.2292531132698059,
    -0.5387992858886719,
    -0.274931401014328,
    -0.015122885815799236,
    0.06607755273580551,
    0.3906596899032593,
    0.7980948686599731,
    -0.8374322056770325,
    0.7086179256439209,
    0.2843407392501831,
    1.0346620082855225,
    -0.6955009698867798,
    0.36832964420318604,
    0.3754851222038269,
    0.28928473591804504,
    0.6594781279563904,
    -0.5623642206192017,
    0.20584873855113983,
    0.19813238084316254,
    -0.011384471319615841,
    0.39122679829597473,
    -0.09515344351530075,
    0.25934290885925293,
    1.1381077766418457,
    0.9796528220176697,
    0.7317244410514832,
    -0.23836277425289154,
    0.29206186532974243,
    0.4464264512062073,
    0.25886479020118713,
    -0.0006309956661425531,
    0.23058490455150604,
    -0.7086524367332458,
    0.2141299843788147,
    1.0078788995742798,
    -0.3086211383342743,
    1.0736727714538574,
    0.444111704826355,
    -0.09781128913164139,
    -1.5825523138046265,
    0.8745890855789185,
    0.5071070194244385,
    -0.20292872190475464,
    -0.9261859655380249,
    0.16808488965034485,
    -0.5583128333091736,
    0.3430042266845703,
    -0.177175834774971,
    0.0659792497754097,
    0.10956603288650513,
    0.034431714564561844,
    0.05292145535349846,
    -0.10902059823274612,
    0.03998703137040138,
    -0.09792713820934296,
    -0.618091881275177,
    0.7884028553962708,
    -0.18825116753578186,
    0.8498091101646423,
    -0.2380487024784088,
    -0.21533192694187164,
    -0.2429976761341095,
    0.8860049247741699,
    -0.20069140195846558,
    0.8339846730232239,
    -0.29404550790786743,
    0.3456626534461975,
    -0.21379190683364868,
    0.5787820219993591,
    0.24401310086250305,
    0.33140829205513,
    0.2584449052810669,
    -0.4248026907444,
    -0.40529534220695496,
    -0.8349268436431885,
    0.2741400897502899,
    0.5693066120147705,
    -0.5685304999351501,
    -0.6624670624732971,
    0.236274853348732,
    -0.039952270686626434,
    -1.3394792079925537,
    -0.047636572271585464,
    0.09328611195087433,
    -0.2353195995092392,
    -0.44622063636779785,
    -0.01209939457476139,
    -0.19313664734363556,
    -0.4209909439086914,
    -0.012032355181872845,
    -1.200303316116333,
    -0.36946114897727966,
    -0.30392906069755554,
    -0.6269130110740662,
    -0.18242843449115753,
    0.43129605054855347,
    0.43734291195869446,
    0.45891714096069336,
    -1.0782873630523682,
    -0.0908743292093277,
    0.9454798102378845,
    -0.3694612979888916,
    0.5984031558036804,
    -0.0924791768193245,
    0.8461510539054871,
    0.7393576502799988,
    0.16183096170425415,
    -0.2588843107223511,
    0.3312107026576996,
    -0.459313303232193,
    0.10765807330608368,
    0.9341481924057007,
    0.4271527826786041,
    0.4694148898124695,
    -0.07467473298311234,
    0.504734992980957,
    0.3829014301300049,
    -0.2443227767944336,
    0.22481147944927216,
    0.8907443284988403,
    -0.1601782888174057,
    -0.4629039764404297,
    0.018120920285582542,
    -0.18313689529895782,
    0.8332358002662659,
    -0.8531079888343811,
    0.4328851103782654,
    -0.16130377352237701,
    0.12546202540397644,
    0.20232003927230835,
    -0.3363680839538574,
    0.4879310429096222,
    0.22920459508895874,
    0.19188782572746277,
    -1.0391875505447388,
    0.6547028422355652,
    0.43222689628601074,
    0.18872836232185364,
    0.17314359545707703,
    0.4756036400794983,
    0.5943747758865356,
    0.6843749284744263,
    0.03749404847621918,
    -0.8614988923072815,
    0.6378797292709351,
    0.4633096754550934,
    0.39008474349975586,
    -0.29691293835639954,
    0.44445452094078064,
    0.38307857513427734,
    1.0778919458389282,
    0.296078622341156,
    -0.6891581416130066,
    -0.5368099808692932,
    -0.1614234447479248,
    0.8895596265792847,
    0.04065728187561035,
    0.3225845694541931,
    -0.21993575990200043,
    -0.21775966882705688,
    0.5920161008834839,
    -0.5245762467384338,
    0.031148601323366165,
    -0.2862309515476227,
    -0.469211220741272,
    -1.1701140403747559,
    -0.3379838466644287,
    -0.05582016333937645,
    -0.6862956881523132,
    0.10374195128679276,
    -0.4503633975982666,
    0.6449940800666809,
    -0.383816123008728,
    -0.2113713026046753,
    -0.02247811295092106,
    0.2541588544845581,
    0.41611236333847046,
    0.4037829637527466,
    0.23047834634780884,
    -0.22253355383872986,
    0.30335506796836853,
    -0.3810160458087921,
    -0.12343738973140717,
    0.5087918639183044,
    0.7102587223052979,
    0.0005276413285173476,
    -1.281984567642212,
    0.23437745869159698,
    0.10724180191755295,
    -0.9389771223068237,
    -0.07127252966165543,
    0.04848002642393112,
    -0.19386282563209534,
    -0.6332334280014038,
    0.4818068742752075,
    -0.15908564627170563,
    0.15491577982902527,
    -0.6272252798080444,
    0.5895640254020691,
    -0.07695286720991135,
    -0.8016191124916077,
    0.7210392951965332,
    0.25580325722694397,
    -0.9823095202445984,
    0.19440236687660217,
    0.5409085154533386,
    0.20718877017498016,
    -0.3324042856693268,
    0.30440837144851685,
    0.12365296483039856,
    1.44062077999115,
    -0.29522210359573364,
    0.19802743196487427,
    -1.2112103700637817,
    0.11270907521247864,
    -0.38111287355422974,
    0.05028783529996872,
    -0.7450645565986633,
    0.25804272294044495,
    0.14880229532718658,
    0.050178591161966324,
    0.42240825295448303,
    -0.7329999208450317,
    -0.3427831530570984,
    -0.2681140601634979,
    0.20779740810394287,
    0.2554951012134552,
    -0.1482229381799698,
    0.22828692197799683,
    0.40150824189186096,
    -0.540627121925354,
    0.42386898398399353,
    -0.04674529284238815,
    0.3344839811325073,
    0.7992444038391113,
    0.5006865859031677,
    -0.06645383685827255,
    -0.4465984106063843,
    0.7559190988540649,
    0.5529531240463257,
    -0.060728948563337326,
    0.3467322587966919,
    -0.158452570438385,
    0.23009690642356873,
    -0.7436191439628601,
    -0.21544413268566132,
    -0.9901048541069031,
    0.6514125466346741,
    0.2617930769920349,
    -0.4189470708370209,
    0.3164556324481964,
    -0.3550902307033539,
    0.3500646650791168,
    -0.6324250102043152,
    0.735191822052002,
    0.8391911387443542,
    -0.16525714099407196,
    -0.5334931015968323,
    -0.27176105976104736,
    0.35522714257240295,
    0.475888192653656,
    -0.07746183127164841,
    -1.2293881177902222,
    -0.12639611959457397,
    0.1173730418086052,
    -0.6745349168777466,
    0.3466915488243103,
    -0.1014501079916954,
    -0.2718445360660553,
    -0.3114769160747528,
    -0.24865861237049103,
    0.23893125355243683,
    -0.7844599485397339,
    0.8000956773757935,
    0.21834011375904083,
    0.2794494926929474,
    0.9896383881568909,
    0.2703794836997986,
    -0.26721513271331787,
    -0.09459031373262405,
    0.6177692413330078,
    -0.19873927533626556,
    0.004381740465760231,
    -0.1916634887456894,
    -1.1399827003479004,
    -0.28425872325897217,
    -0.5611090660095215,
    0.16448335349559784,
    -0.12662921845912933,
    0.1082933321595192,
    -0.011253508739173412,
    0.92473304271698,
    -0.09841802716255188,
    -0.3229500651359558,
    -0.7452465891838074,
    -0.5010777711868286,
    0.25656741857528687,
    -0.20909106731414795,
    0.48563307523727417,
    -1.0617847442626953,
    0.9151105284690857,
    0.3693906366825104,
    -0.25155389308929443,
    -0.04242819547653198,
    0.476549357175827,
    -0.4707038402557373,
    0.8586947917938232,
    0.6563675403594971,
    0.5137988924980164,
    -0.17941057682037354,
    -0.7189554572105408,
    -0.5544054508209229,
    0.13093020021915436,
    -0.28509125113487244,
    -0.5323489308357239,
    -0.15345197916030884,
    -0.23667138814926147,
    0.5527148842811584,
    -0.650683581829071,
    0.5335575938224792,
    0.03343833237886429,
    1.514218807220459,
    0.25389716029167175,
    0.12435632199048996,
    0.07865666598081589,
    -0.9369972944259644,
    -0.5027557611465454,
    -0.18529492616653442,
    -0.6494261026382446,
    0.3078129291534424,
    -0.5775022506713867,
    0.4798212945461273,
    0.14913338422775269,
    -0.010293123312294483,
    0.4434179663658142,
    0.6082879304885864,
    -0.09161632508039474,
    0.47266462445259094,
    -0.11732185631990433,
    -0.1840810626745224,
    0.49876922369003296,
    -0.01879735477268696,
    -0.521119236946106,
    0.33370423316955566,
    -0.8067514300346375,
    0.5846673250198364,
    0.625588595867157,
    0.20334121584892273,
    -0.8096731305122375,
    0.5449278950691223,
    0.3879033625125885,
    1.0914366245269775,
    -0.35027462244033813,
    -0.24120768904685974,
    -0.15995632112026215,
    0.9057497978210449,
    -0.8971968293190002,
    -0.5223760604858398,
    0.207819864153862,
    0.9735629558563232,
    0.3334316313266754,
    -0.7680221796035767,
    0.44788387417793274,
    0.027008885517716408,
    -0.15236620604991913,
    0.28375980257987976,
    -0.6840943098068237,
    0.3559953272342682,
    -0.41897475719451904,
    0.23351405560970306,
    -0.09241107106208801,
    -0.25328272581100464,
    -0.028407247737050056,
    -0.3251759111881256,
    0.5185266733169556,
    -0.6482848525047302,
    0.4092341363430023,
    -0.7684499621391296,
    -0.49615615606307983,
    -0.2713455855846405,
    -0.34648582339286804,
    -0.08072321116924286,
    0.027737904340028763,
    0.05107639729976654,
    0.6698858737945557,
    -0.26039400696754456,
    -0.705249547958374,
    -0.12115340679883957,
    0.0844559520483017,
    -1.2487366199493408,
    -0.18224087357521057,
    -0.1761215627193451,
    -0.07552619278430939,
    -0.1188029870390892,
    -1.2116420269012451,
    -0.5281437635421753,
    -0.1469149887561798,
    0.224314346909523,
    0.19683228433132172,
    -0.21233397722244263,
    -0.2369844764471054,
    -0.1515263319015503,
    0.09653306752443314,
    0.013541148044168949,
    -0.23837415874004364,
    -0.17517338693141937,
    1.2100389003753662,
    -0.017990199849009514,
    0.5426878929138184,
    0.48688268661499023,
    0.24561157822608948,
    -0.5703931450843811,
    0.9201050400733948,
    -0.4538230299949646,
    -0.46892818808555603,
    -0.4425819516181946,
    1.158054232597351,
    -0.8384113311767578,
    0.445794939994812,
    0.3409997224807739,
    -0.7623947262763977,
    -0.12211514264345169,
    -0.7842400074005127,
    -0.2118765115737915,
    -0.9027803540229797,
    -0.14074760675430298,
    -0.8512603044509888,
    0.46055155992507935,
    0.7887850999832153,
    0.33936095237731934,
    -0.616942822933197,
    -0.5203661918640137,
    -0.10361478477716446,
    0.3862309455871582,
    -0.5292956829071045,
    -0.031256236135959625,
    -0.7274178266525269,
    -0.6886000633239746,
    -0.10726595669984818,
    -0.19355866312980652,
    -0.013423844240605831,
    -0.059811849147081375,
    0.29754990339279175,
    -0.25917336344718933,
    0.5974024534225464,
    -0.2106284350156784,
    -1.0368503332138062,
    0.04679897800087929,
    0.08912766724824905,
    -0.7270094752311707,
    0.8305635452270508,
    0.013664072379469872,
    1.1350314617156982,
    0.18186518549919128,
    -0.19601716101169586,
    0.04951375350356102,
    -0.4831734597682953,
    -0.4633414149284363,
    -0.4058436453342438,
    -0.4156425893306732,
    0.031076783314347267,
    1.1871671676635742,
    -0.1597995012998581,
    -0.32343873381614685,
    -0.9997571110725403,
    1.0058197975158691,
    0.5925412178039551,
    0.5830948948860168,
    -0.584283173084259,
    0.05650407448410988,
    -0.4466523230075836,
    -0.8508865237236023,
    0.21115918457508087,
    -0.40510430932044983,
    -0.5392129421234131,
    -0.936665415763855,
    0.09303464740514755,
    -0.39081594347953796,
    -0.6317532658576965,
    -0.07693301886320114,
    1.2807947397232056,
    -0.15986883640289307,
    -0.334138959646225,
    -0.7146041393280029,
    -0.02442823350429535,
    0.009904132224619389,
    -0.4769842028617859,
    -0.47701722383499146,
    -0.35561704635620117,
    -0.756752610206604,
    -0.5732499957084656,
    -0.04414522647857666,
    -0.3949166536331177,
    -1.3241159915924072,
    0.2279754877090454,
    1.0491628646850586,
    -0.22425514459609985,
    0.18665096163749695,
    0.9236289262771606,
    -0.929186999797821,
    -0.6950750946998596,
    0.5034024715423584,
    0.003681969130411744,
    0.14734914898872375,
    0.49425631761550903,
    -0.05489519238471985,
    -0.5449281930923462,
    -0.30675554275512695,
    0.17736324667930603,
    -1.192725658416748,
    0.2850250005722046,
    0.4355512857437134,
    -0.044848501682281494,
    -0.3881013095378876,
    0.351439505815506,
    0.3603682219982147,
    -0.27090713381767273,
    -0.6271369457244873,
    -0.1015448346734047,
    -0.2067284882068634,
    -0.017211830243468285,
    0.16386505961418152,
    0.07374846935272217,
    0.13839811086654663,
    -0.451729953289032,
    0.2902665436267853,
    0.6920244693756104,
    0.2785341441631317,
    -0.261777400970459,
    0.17279937863349915,
    0.01839926838874817,
    -0.18437519669532776,
    0.7654944658279419,
    0.9575624465942383,
    -0.6794432401657104,
    -0.5690122246742249,
    -1.4541358947753906,
    0.4582992494106293,
    -0.7753356695175171,
    -0.7864623665809631,
    0.4556187391281128,
    -0.08799091726541519,
    0.21920554339885712,
    -0.12718257308006287,
    -0.33830538392066956,
    -0.058109350502491,
    0.8408320546150208,
    -0.4520045518875122,
    -0.06710594147443771,
    -0.552559494972229,
    -0.186984583735466,
    -0.7672019004821777,
    -0.11913763731718063,
    -0.38692212104797363,
    -0.4598627984523773,
    -1.1724598407745361,
    -0.30752426385879517,
    -0.042873967438936234,
    0.9195701479911804,
    0.24893371760845184,
    0.1387559026479721,
    -0.5799233317375183,
    -0.489823579788208,
    0.37696266174316406,
    0.23821206390857697,
    -0.2548024356365204,
    1.6886030435562134,
    0.6951268911361694,
    1.2246850728988647,
    -0.4750366508960724,
    0.23207642138004303,
    -0.12265145033597946,
    -0.26136770844459534,
    0.5243176221847534,
    -0.7031546831130981,
    0.5610776543617249,
    -0.03205167129635811,
    -0.2633323669433594,
    -0.07940873503684998,
    -0.24282550811767578,
    -1.0424448251724243,
    -0.3102833032608032,
    -0.021499278023838997,
    -0.03031851164996624,
    -0.4091736376285553,
    1.0186659097671509,
    0.3888659179210663,
    -0.8481702208518982,
    0.3968093991279602,
    -0.16683654487133026,
    -0.03980086371302605,
    0.7163078784942627,
    0.12070609629154205,
    0.08718947321176529,
    0.7011731863021851,
    -0.8764967918395996,
    0.4455270767211914,
    -0.46375077962875366,
    -0.4967336356639862,
    0.39212706685066223,
    0.5361699461936951,
    -0.31552955508232117,
    0.34690484404563904,
    0.2629453241825104,
    0.06581900268793106,
    0.6234185695648193,
    0.1820428967475891,
    -0.1222759485244751,
    0.6933625340461731,
    0.41928038001060486,
    -0.48231250047683716,
    0.4236743152141571,
    -0.5359649062156677,
    0.5628388524055481,
    0.28866711258888245,
    0.022929131984710693,
    0.16049037873744965,
    0.3730372190475464,
    0.23125460743904114,
    0.04090913385152817,
    -0.1709795892238617,
    -0.16628974676132202,
    -0.050725266337394714,
    -0.44308391213417053,
    -1.095179557800293,
    -0.05429487302899361,
    -0.8140732645988464,
    -0.5352866649627686,
    0.4654790163040161,
    -0.0695895329117775,
    -0.5317023396492004,
    0.18872088193893433,
    -0.07611650973558426,
    0.5656083226203918,
    0.610861599445343,
    -0.19448572397232056,
    0.5051015615463257,
    -0.6390656232833862,
    -0.11050040274858475,
    0.18130812048912048,
    -0.3506617248058319,
    -0.23980627954006195,
    0.5753515362739563,
    -0.4480995535850525,
    0.3404068350791931,
    -0.7501965165138245,
    0.10694511979818344,
    0.8333724737167358,
    0.5902149081230164,
    0.8054746389389038,
    -0.036242011934518814,
    0.21691767871379852,
    -0.24307888746261597,
    0.24956896901130676,
    -0.8523459434509277,
    -0.7713295221328735,
    0.017775429412722588,
    0.4357505142688751,
    0.31986260414123535,
    -0.6151022911071777,
    0.5642358064651489,
    0.6669993996620178,
    -1.0188668966293335,
    -0.24704855680465698,
    0.4716811180114746,

In [36]:
final_df.to_parquet('movies_with_embeddings.parquet', index=False)

In [37]:
# to get data back from parquet file
# Uncomment the following lines if want to read from the parquet file
final_df = pd.read_parquet('movies_with_embeddings.parquet')
# movie_documents = final_df.to_dict(orient='records')

In [38]:
final_df.columns

Index(['id', 'title', 'overview', 'genres_list', 'actor', 'director',
       'keywords_list', 'movie_embedding', 'original_language'],
      dtype='object')

# Uploading the datas to Elastic Search

## Connects to ElasticSearch

In [39]:
# make sure that ElasticSearch is running, in this case i use docker
try:
    es_client = Elasticsearch("http://localhost:9200")
    # Verify the connection
    if not es_client.ping():
        raise Exception("Could not connect to Elasticsearch!")
    print("Successfully connected to Elasticsearch!")
except Exception as e:
    print(e) # Stop if connection failed

Successfully connected to Elasticsearch!

## Define Index and Mapping
Defining an index and mapping allows us to control how our data is structured and stored in Elasticsearch, ensuring it is imported in the desired format for efficient searching and analysis.

In [40]:
# Define the index and mapping for ElasticSearch
# index name = movies --> this like table name in SQL database
# The mapping is the schema for that table.
index_name = "movies"
embedding_dim = len(df['movie_embedding'][0])  # Get the dimension of the embedding
print(f"embedding dim = {embedding_dim}")
mapping = {
    "properties": {
        "id": {"type": "integer"},
        "title": {"type": "text", "analyzer": "english"},
        "overview": {"type": "text", "analyzer": "english"},
        "genres_list": {"type": "keyword"},
        "actor": {"type": "text", "analyzer": "english"},
        "director": {"type": "keyword"},
        "keywords_list": {"type": "keyword"},
        "original_language": {"type": "keyword"},
        "movie_embedding": {
            "type": "dense_vector",
            "dims": embedding_dim, # dimension based on the model used --> all-mpnet-base-v2
            "index": True,
            "similarity": "cosine" # Explicitly set the similarity metric
        }
    }
}

embedding dim = 1024

## Create Index and formatting

In [41]:
# create the index if it does not exist and delete it if it does already exist
if es_client.indices.exists(index=index_name):
    es_client.indices.delete(index=index_name)
    print(f"Deleted existing index '{index_name}'")

# Create the new index with our defined mapping
es_client.indices.create(index=index_name, mappings=mapping)
print(f"Created new index '{index_name}' with custom mapping.")

Deleted existing index 'movies'
Created new index 'movies' with custom mapping.

In [42]:
# We need to format our list of dictionaries into the format bulk() expects.
def generate_actions(documents):
    for doc in documents:
        yield {
            "_index": index_name,
            "_id": doc["id"],  # Use the movie's own ID as the document ID
            "_source": doc,
        }

## Uploading contents to Elastic Search

In [43]:
print("\nUploading documents to Elasticsearch... this may take a moment.")
try:
    action_generator = generate_actions(movie_documents)
    progress = tqdm(unit="docs", total=len(movie_documents))
    
    failed_doc =[]
    # Use streaming_bulk which yields results, perfect for a progress bar
    for ok, action in streaming_bulk(
        client=es_client, actions=action_generator, chunk_size=500
    ):
        if not ok:
            failed_doc.append(action)
        progress.update(1)
        
    if failed_doc:
        print(f"\nRetrying {len(failed_doc)} failed docs")
        for ok, action in streaming_bulk(
            client=es_client, actions=failed_doc, chunk_size=500
        ):
            if not ok:
                print(f"Failed to index document: {action}")
    

    progress.close()
    print("\nBulk upload complete!")
    
    # Refresh the index
    es_client.indices.refresh(index=index_name)
    print("Index refreshed.")

except Exception as e:
    print(f"\nAn error occurred during bulk upload: {e}")

Uploading documents to Elasticsearch... this may take a moment.

  0%|          | 0/45439 [00:00<?, ?docs/s]

Bulk upload complete!
Index refreshed.

## Review the upload result

In [44]:
# Check number of data on the index
try:
    count_response = es_client.count(index=index_name)
    doc_count = count_response['count']
    print(f"Found {doc_count} documents in the '{index_name}' index.")
except Exception as e:
    print(f"An error occurred while counting documents: {e}")

# Check example of a document
print("\nTo verify : Checking a document for 'The Dark Knight'")
try:
    search_response = es_client.search(
        index=index_name,
        query={
            "match": {
                "title": "The Dark Knight"
            }
        }
    )

    hits = search_response['hits']['hits']
    
    if hits:
        # 1st result
        first_hit = hits[0]['_source']
        
        # Print the data
        print(f"\nTitle: {first_hit['title']}")
        print(f"Director: {first_hit['director']}")
        print(f"Actors: {first_hit['actor']}")
        print(f"Overview: {first_hit['overview'][:100]} (and so on...)") #Print first 100 chars 
        print(f"Embedding: {first_hit['movie_embedding'][:5]}...") #Print first 5 numbers of embedding
    else:
        print("Could not find the movies we looking for.")

except Exception as e:
    print(f"An error occurred during search: {e}")

Found 45432 documents in the 'movies' index.

To verify : Checking a document for 'The Dark Knight'

Title: The Dark Knight
Director: Christopher Nolan
Actors: ['Christian Bale', 'Michael Caine', 'Heath Ledger']
Overview: Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney  (and so on...)
Embedding: [0.6480031609535217, -0.1263490915298462, -0.06502999365329742, 0.13747072219848633, -0.8616973161697388]...

In [45]:
# Check example of a document
print("To verify : Checking a document for 'Father of the Bride Part II'")
try:
    search_response = es_client.search(
        index=index_name,
        query={
            "match": {
                "title": "Father of the Bride Part II"
            }
        }
    )

    hits = search_response['hits']['hits']
    
    if hits:
        # 1st result
        first_hit = hits[0]['_source']
        
        # Print the data
        print(f"\nTitle: {first_hit['title']}")
        print(f"Director: {first_hit['director']}")
        print(f"Actors: {first_hit['actor']}")
        print(f"Overview: {first_hit['overview'][:105]}...") #Print first 100 chars 
        print(f"Embedding: {first_hit['movie_embedding'][:5]}...") #Print first 5 numbers of embedding
    else:
        print("Could not find the movies we looking for.")

except Exception as e:
    print(f"An error occurred during search: {e}")

To verify : Checking a document for 'Father of the Bride Part II'

Title: Father of the Bride Part II
Director: Charles Shyer
Actors: ['Steve Martin', 'Diane Keaton', 'Martin Short']
Overview: Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnan...
Embedding: [0.40464338660240173, -0.33400699496269226, 0.2621404230594635, -0.11048413068056107, -0.9807517528533936]...